{
    "DS_RO_PASSWORD": "DS_RO_PASSWORD",
    "NEW_RELIC_LICENSE_KEY": "NEW_RELIC_LICENSE_KEY",
    "SAML2_SP_PUBLIC_CERT": "-----BEGIN CERTIFICATE-----...-----END CERTIFICATE-----",
    "SAML2_SP_PRIVATE_KEY": "-----BEGIN PRIVATE KEY-----...-----END PRIVATE KEY-----"
}