Babel==2.3.4
Beaker==1.9.0
bleach==3.1.4
certifi==2020.11.8
chardet==3.0.4
-e git+https://github.com/ckan/ckan.git@c04b6d64aadc7a647b8896279002626ca3be0a56#egg=ckan
-e git+https://github.com/GSA/ckanext-datajson.git@a66f314333862bc316086a25e735f472cb5b29fe#egg=ckanext_datajson
ckanext-dcat-usmetadata==0.1.11
-e git+https://github.com/GSA/ckanext-googleanalyticsbasic@54647da628609543e01731bfc37f0c3d0ad9f0e2#egg=ckanext_googleanalyticsbasic
-e git+https://github.com/GSA/ckanext-saml2.git@0e1f11cb3b211e6d337b86ffe7c07620821f7d7d#egg=ckanext_saml2
-e git+https://github.com/GSA/USMetadata.git@a6aab9f54fc1a55b8f668dfa0d74e981a3a0df66#egg=ckanext_usmetadata
click==6.7
decorator==4.2.1
fanstatic==0.12
Flask==0.12.4
Flask-Babel==0.11.2
FormEncode==1.3.1
funcsigs==1.0.2
gevent==20.9.0
greenlet==0.4.17
gunicorn==19.10.0
html5lib==1.0.1
httplib2==0.18.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10.1
jsonschema==2.4.0
LEPL==5.1.3
M2Crypto==0.36.0
Mako==1.0.7
Markdown==2.6.7
MarkupSafe==1.0
mock==1.0.1
newrelic==5.20.1.150
nose==1.3.7
ofs==0.4.2
Pairtree===0.7.1-T
passlib==1.7.3
Paste==1.7.5.1
PasteDeploy==1.5.2
PasteScript==2.0.2
pbr==1.10.0
polib==1.0.7
psycopg2==2.7.3.2
Pygments==2.2.0
Pylons==0.9.7
-e git+https://github.com/GSA/pysaml2.git@8b605c824ff1d042e9040a9971c28f369197cac2#egg=pysaml2
pysolr==3.6.0
python-dateutil==1.5
python-magic==0.4.15
python-memcached==1.48
pytz==2016.7
pyutilib.component.core==4.6.4
PyYAML==5.3.1
redis==2.10.6
repoze.lru==0.7
repoze.who==2.3
repoze.who-friendlyform==1.0.8
requests==2.20.0
rfc3987==1.3.8
Routes==1.13
rq==0.6.0
simplejson==3.10.0
six==1.11.0
SQLAlchemy==1.1.11
sqlalchemy-migrate==0.10.0
sqlparse==0.2.2
Tempita==0.5.2
typing==3.7.4.3
tzlocal==1.3
unicodecsv==0.14.1
urllib3==1.25.9
vdm==0.14
webencodings==0.5.1
WebError==0.13.1
WebHelpers==1.3
-e git+https://github.com/GSA/webob.git@90d895f9a85c8bea11c80efa4e2f6bdd04eabbe4#egg=WebOb
WebTest==1.4.3
Werkzeug==0.15.3
zope.event==4.5.0
zope.interface==4.3.2
