ckan==2.9.8
# TODO https://github.com/GSA/datagov-deploy/issues/2794
git+https://github.com/keitaroinc/ckanext-saml2auth.git@main#egg=ckanext-saml2auth
# TODO Remove webob fork
# git+https://github.com/GSA/webob.git@datagov/v1.0.8#egg=webob
git+https://github.com/keitaroinc/ckanext-s3filestore.git#egg=ckanext-s3filestore
# git+https://github.com/GSA/pysaml2.git@datagov/v4.9.0#egg=pysaml2
-e git+https://github.com/ckan/ckanext-xloader.git@master#egg=ckanext-xloader

ckanext-googleanalyticsbasic
ckanext-usmetadata>=0.2.5
ckanext-datajson>=0.1.10
ckanext-dcat-usmetadata~=0.3.8
ckanext-envvars>=0.0.2
newrelic
gunicorn
gevent

# CKAN core library dependency upgrade pin
lxml==4.9.1
urllib3==1.26.5
# bleach==3.3.0
# Jinja2==2.11.3

# Add necessary CKAN core libraries
alembic==1.0.0
Babel==2.9.1
Beaker==1.11.0
bleach==3.3.0
click>=8.0
dominate==2.4.0
fanstatic==1.1
feedgen==0.9.0
Flask==2.2.0
Flask-Babel==1.0.0
flask-multistatic==1.0
Jinja2>=3.0
PyJWT==2.4.0              # Upgraded to pass security scans
Markdown==3.4.1           # Upgraded https://github.com/GSA/data.gov/issues/4056
passlib==1.7.3
pastedeploy==2.0.1        # manually kept - remove when #4802 is complete
pathtools==0.1.2          # via watchdog
polib==1.0.7
psycopg2==2.8.6
python-magic==0.4.15
pysaml2==7.0.1
pysolr==3.6.0
# python-dateutil>=1.5.0   # ckanext-xloader requires newer
pytz==2016.7
PyUtilib==5.7.1
pyyaml==5.4
repoze.who==2.3
requests==2.25.0
Routes==1.13
rq==1.0
simplejson==3.18.0 # ckan 2.9.5 requires 3.10.0 only
# Following can be ignored: https://github.com/ckan/ckan/pull/4450
# sqlalchemy-migrate==0.12.0
SQLAlchemy==1.3.5
sqlparse==0.4.2
tzlocal==1.3
unicodecsv>=0.9
webassets==0.12.1
werkzeug[watchdog]>=2.2.3
zope.interface==4.7.2

# # ckanext-saml2 dependencies
# defusedxml==0.6.0
# M2Crypto
# python-memcached==1.48

# ckanext-s3filestore dependencies
boto3>=1.4.4
ckantoolkit

# ckanext-xloader dependencies
# https://github.com/ckan/ckanext-xloader/blob/master/requirements.txt
messytables==0.15.2
pika>=1.1.0
Unidecode==1.0.22
requests[security]>=2.11.1
tabulator==1.53.5
python-dateutil>=2.8.2

# Other pinned dependencies
# (most likely for snyk)
itsdangerous==2.0.1
MarkupSafe>=2.1.1 # upgraded for snyk
certifi>=2022.12.7
setuptools>=65.5.1
