alembic==1.0.0
async-timeout==4.0.2
attrs==22.2.0
Babel==2.9.1
Beaker==1.11.0
bleach==3.3.0
boto3==1.26.73
botocore==1.29.73
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
ckan==2.9.8
ckanext-datajson==0.1.15
ckanext-dcat-usmetadata==0.3.8
ckanext-envvars==0.0.2
ckanext-googleanalyticsbasic==0.2.0
ckanext-s3filestore @ git+https://github.com/keitaroinc/ckanext-s3filestore.git@8e815a47cd902884ff93fcff96d90349fb6c5459
ckanext-saml2auth @ git+https://github.com/keitaroinc/ckanext-saml2auth.git@b2c6cfc2f9d6179601017f2d6530cf4ee5331f00
ckanext-usmetadata==0.2.5
-e git+https://github.com/ckan/ckanext-xloader.git@9db532439dbb8b88f7c9d11f1e573ff6c164e3b9#egg=ckanext_xloader
ckantoolkit==0.0.7
click==7.1.2
cryptography==39.0.1
defusedxml==0.7.1
dominate==2.4.0
elementpath==4.0.1
et-xmlfile==1.1.0
fanstatic==1.1
feedgen==0.9.0
Flask==1.1.1
Flask-Babel==1.0.0
flask-multistatic==1.0
gevent==22.10.2
greenlet==2.0.2
gunicorn==20.1.0
html5lib==1.1
idna==2.10
ijson==3.2.0.post0
importlib-metadata==6.0.0
importlib-resources==5.10.2
itsdangerous==2.0.1
Jinja2==2.11.3
jmespath==1.0.1
json-table-schema==0.2.1
jsonlines==3.1.0
jsonschema==2.4.0
linear-tsv==1.1.0
lxml==4.9.1
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.0.1
messytables==0.15.2
newrelic==8.7.0
nose==1.3.7
openpyxl==3.1.1
packaging==23.0
passlib==1.7.3
PasteDeploy==2.0.1
pathtools==0.1.2
pika==1.3.1
pip==23.0
polib==1.0.7
psycopg2==2.8.6
pycparser==2.21
PyJWT==2.4.0
pyOpenSSL==23.0.0
pysaml2==7.0.1
pysolr==3.6.0
python-dateutil==2.8.2
python-editor==1.0.4
python-magic==0.4.15
pytz==2016.7
PyUtilib==5.7.1
PyYAML==5.4
redis==4.5.3
repoze.lru==0.7
repoze.who==2.3
requests==2.25.0
rfc3987==1.3.8
Routes==1.13
rq==1.0
s3transfer==0.6.0
setuptools==67.1.0
shutilwhich==1.1.0
simplejson==3.18.0
six==1.16.0
SQLAlchemy==1.3.5
sqlparse==0.4.2
tabulator==1.53.5
tzlocal==1.3
unicodecsv==0.14.1
Unidecode==1.0.22
urllib3==1.26.5
watchdog==2.2.1
webassets==0.12.1
webencodings==0.5.1
WebOb==1.8.7
Werkzeug==1.0.0
wheel==0.38.4
xlrd==2.0.1
xmlschema==2.2.1
zipp==3.13.0
zope.event==4.6
zope.interface==4.7.2
