git+https://github.com/ckan/ckan.git@ckan-2.9.3#egg=ckan
-e git+https://github.com/GSA/ckanext-googleanalyticsbasic#egg=ckanext-googleanalyticsbasic
-e git+https://github.com/GSA/ckanext-usmetadata.git@main#egg=ckanext-usmetadata
# TODO https://github.com/GSA/datagov-deploy/issues/2794
-e git+https://github.com/GSA/ckanext-datajson.git@main#egg=ckanext-datajson
git+https://github.com/keitaroinc/ckanext-saml2auth.git@main#egg=ckanext-saml2auth
# TODO Remove webob fork
# git+https://github.com/GSA/webob.git@datagov/v1.0.8#egg=webob
git+https://github.com/keitaroinc/ckanext-s3filestore.git#egg=ckanext-s3filestore
# git+https://github.com/GSA/pysaml2.git@datagov/v4.9.0#egg=pysaml2
-e git+https://github.com/ckan/ckanext-xloader.git@master#egg=ckanext-xloader

ckanext-dcat-usmetadata
ckanext-envvars
newrelic
gunicorn
gevent


# Add CKAN core libraries
-r ${SRC_DIR}/ckan/requirements.txt

# # ckanext-saml2 dependencies
# defusedxml==0.6.0
# M2Crypto
# python-memcached==1.48

#datajson
jsonschema~=2.4.0
rfc3987
# pyyaml # Already installed via CKAN core
lepl

# ckanext-s3filestore
boto3>=1.4.4
ckantoolkit

# ckanext-xloader
messytables==0.15.2
pika>=1.1.0
Unidecode==1.0.22