version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run:
          name: Run tests
          command: make test


workflows:
  version: 2
  commit:
    jobs:
      - build
