{% ckan_extends %}

{% block subtitle %}{{ gettext('Error %(error_code)s', error_code=code[0]) }}{% endblock %}



{% block primary %}
    {% if code[0] == '403' %}
        <article class="module">
            <div class="module-content">
                <h2>You are not authorized to perform this action.</h2>
                <p>If you a government user, you are either not allowed to perform this action or you need to {% link_for _('Log in'), named_route='user.login' %}.</p>
                <p>If you are looking for data please go to <a href='https://catalog.data.gov/dataset'>catalog.data.gov</a>.</p>
            </div>
        </article>

    {% else %}
        {{ super() }}
    {% endif %}
  
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block flash %}
  {# eat the flash messages caused by the 404 #}
  {% set flash_messages = h.flash.pop_messages() %}
{% endblock %}

{% block secondary %}{% endblock %}