---
name: commit

on:
  push:


jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.x']
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: lint
        run: |
          # TODO add this to dev dependencies and Makefile
          pip install --upgrade pip
          pip install flake8
          flake8 . --count --show-source --statistics

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: test
        run: make build test
      - name: test extension
        run: make test_extension
      - name: cypress-artifacts
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-artifacts
          path: |
            ./e2e/cypress/screenshots/
            ./e2e/cypress/videos/

  vendor:
    name: vendor dependencies
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: vendor dependencies
        run: ./vendor-requirements.sh build
      - uses: actions/upload-artifact@v3
        with:
          name: python-vendored
          path: vendor/
          if-no-files-found: error

  # yamllint disable rule:line-length
  create-cloudgov-services-development:
    if: github.ref == 'refs/heads/develop'
    name: create services (development)
    uses: gsa/data.gov/.github/workflows/create-services-template.yml@main
    with:
      environ: development
    secrets: inherit

  deploy-development:
    if: github.ref == 'refs/heads/develop'
    name: deploy (development)
    needs:
      - vendor
      - create-cloudgov-services-development
    uses: gsa/data.gov/.github/workflows/deploy-template.yml@main
    with:
      environ: development
      app_url: https://inventory-dev-datagov.app.cloud.gov
      app_names: "{\"include\":[{\"app\":\"inventory\",\"smoketest\":true},{\"app\":\"inventory-proxy\"}]}"
    secrets: inherit
    # yamllint enable rule:line-length
