---
name: deploy

on:
  push:
    branches:
      - main

jobs:
  vendor:
    name: vendor dependencies
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: vendor dependencies
        run: ./vendor-requirements.sh build
      - uses: actions/upload-artifact@v3
        with:
          name: python-vendored
          path: vendor/
          if-no-files-found: error

  create-cloudgov-services-staging:
    name: create services (staging)
    uses: gsa/data.gov/.github/workflows/create-services-template.yml@main
    with:
      environ: staging
    secrets: inherit

  create-cloudgov-services-prod:
    name: create services (prod)
    uses: gsa/data.gov/.github/workflows/create-services-template.yml@main
    with:
      environ: prod
    secrets: inherit

  # yamllint disable rule:line-length
  deploy-staging:
    name: deploy (staging)
    needs:
      - create-cloudgov-services-staging
      - vendor
    uses: gsa/data.gov/.github/workflows/deploy-template.yml@main
    with:
      environ: staging
      app_url: https://inventory-stage-datagov.app.cloud.gov
      app_names: "{\"include\":[{\"app\":\"catalog-web\",\"smoketest\":true},{\"app\":\"catalog-admin\"},{\"app\":\"catalog-fetch\"},{\"app\":\"catalog-gather\"},{\"app\":\"catalog-proxy\"}]}"
    secrets: inherit

  deploy-prod:
    name: deploy (prod)
    needs:
      - vendor
      - create-cloudgov-services-prod
      - deploy-staging
    uses: gsa/data.gov/.github/workflows/deploy-template.yml@main
    with:
      environ: prod
      app_url: https://inventory.data.gov
      app_names: "{\"include\":[{\"app\":\"catalog-web\",\"smoketest\":true},{\"app\":\"catalog-admin\"},{\"app\":\"catalog-fetch\"},{\"app\":\"catalog-gather\"},{\"app\":\"catalog-proxy\"}]}"
    secrets: inherit
    # yamllint enable rule:line-length
