---
name: restart application

on:
  workflow_dispatch:
  schedule:
    - cron: '7/15 * * * *'

jobs:
  # restart-staging:
  #   concurrency: staging
  #   name: restart (staging)
  #   environment: staging
  #   runs-on: ubuntu-latest
  #   env:
  #     APP_URL: https://inventory-stage-datagov.app.cloud.gov
  #   steps:
  #     - name: checkout
  #       uses: actions/checkout@v2
  #     - name: restart
  #       uses: cloud-gov/cg-cli-tools@main
  #       with:
  #         command: cf restart inventory --strategy rolling
  #         cf_org: gsa-datagov
  #         cf_space: staging
  #         cf_username: ${{secrets.CF_SERVICE_USER}}
  #         cf_password: ${{secrets.CF_SERVICE_AUTH}}
  #     - name: smoke test
  #       run: bin/smoke.sh
  #     - name: restart proxy
  #       uses: cloud-gov/cg-cli-tools@cli-v8
  #       with:
  #         command: cf restart catalog-proxy --strategy rolling
  #         cf_org: gsa-datagov
  #         cf_space: staging
  #         cf_username: ${{secrets.CF_SERVICE_USER}}
  #         cf_password: ${{secrets.CF_SERVICE_AUTH}}

  restart-prod:
    concurrency: production
    name: restart (prod)
    environment: production
    runs-on: ubuntu-latest
    env:
      APP_URL: https://inventory.data.gov
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: restart
        uses: cloud-gov/cg-cli-tools@main
        with:
          command: cf restart inventory --strategy rolling
          cf_org: gsa-datagov
          cf_space: prod
          cf_username: ${{secrets.CF_SERVICE_USER}}
          cf_password: ${{secrets.CF_SERVICE_AUTH}}
      - name: smoke test
        run: bin/smoke.sh
      - name: restart proxy
        uses: cloud-gov/cg-cli-tools@cli-v8
        with:
          command: cf restart inventory-proxy --strategy rolling
          cf_org: gsa-datagov
          cf_space: prod
          cf_username: ${{secrets.CF_SERVICE_USER}}
          cf_password: ${{secrets.CF_SERVICE_AUTH}}
